/* Popup message */
.color-error{
    background-color: #f44336;
}
.color-success {
    background-color: #42ba96;
}
.alert {
    padding: 20px;
    color: white;
    opacity: 1;
    border-radius: 20px;
    margin: 70px auto;
    padding: 20px;
    width: 30%;
    position:fixed;
    bottom:0px;
    right:30px;
    margin:30px;
  }

  /* Add Coins */

  .button-add-coins{
    width: 5em;
    height: 5em;
    border-radius: 10px;
    /* border: none; */
    color: #2f2c3d;
    background-color: #fff;
    box-shadow: 5px 5px 5px -2px #b4b4b4;
    font-size: 1rem;
    font-weight: 700;
}

.add-coins{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

  /* Modal */

  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1000;
  }
  
  .popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
  }
  
  .popup h2 {
    margin-top: 0;
    color: #333;
  }
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover {
    color: #06D85F;
  }
  .popup .content {
    max-height: 30%;
    overflow: auto;
  }
  
  @media screen and (max-width: 700px){
    .box{
      width: 70%;
    }
    .popup{
      width: 70%;
    }
  }