* {
    font-family: 'IBM Plex Sans Arabic', sans-serif;
}

.container-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.card{
    padding: 1em;
    margin: 2em;
    border-radius: 10px;
    box-shadow: 3px 3px 5px -2px #c8c8c8;
}
.card:hover{
    box-shadow: 10px 3px 5px 0px #919191ed;
    background: linear-gradient(0deg, #0ad4fa 0%, rgba(254,254,254,0.35057773109243695) 29%, rgba(255,255,255,1) 100%);
    border: #0ad4fa;
    opacity: 1;
}

.center{
    text-align: center;
}

.button-one {
    background-color: rgb(58, 173, 240);
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    border-radius: 20px;
    z-index: 10000000;
    font-weight: 500;
  }

  .button-one:hover {
      opacity: 1
    }
    
  .button-one:disabled {
    background-color: #a5a5a5;
    opacity: 1;
    cursor: auto;
  }

/* Hoovered */
   .card-hovered{
        display: flex;
        position: absolute;
        z-index: 1;
    }
    
    .img-hovered{
        opacity: 0.6
    }
    
    .card-cost{
        margin-left: 0.3em;
        margin-top: 0.2em;
        font-size: 17px;
    }
    
    .buttons-card-hovered{
        position: relative;
        display: flex;
        flex-direction: row;
    }
    
    .btn-dark{
        border-radius: 25px;
        font-size: larger;
        background: #0ad4fa;
        border: 1px solid #0ad4fa
    }
    
    .card-img-top:hover{
        background-color: #0ad4fa;
    }
    
    .coin{
        margin-left: 0.4em;
        margin-bottom: 3em;
    }

    .buy{
        margin-top: 0.2em;
        width: 1.5em;
        height: 1.5em;
    }

    .card-category {
        font-size: 13px;
        font-weight: 500;
        color: rgb(71, 71, 71);
    }
    .card-name {
        padding: 2% 0 0 0;
        font-size: 20px;
        font-weight: 400;
        color: rgb(0, 0, 0);
        font-weight: 500;
    }


    /* Filters */
    .filters{
        display: flex;
        margin-left: 5%;
        margin-top: 15px;
        flex-wrap: wrap;
        align-items: center;
    }
    .filters div {
        padding: 0 10px;
    }

    .div-filter {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .btnPaginationLeft {
        cursor: pointer;
        position: relative;
        display: block;
        margin: 20px;
        width: 50px;
        height: 50px;
        border: solid 6px rgb(58, 173, 240);
        border-radius: 100%;
        z-index: 1;
        -webkit-transition: all 0.2s linear;
        transition: all 0.2s linear;
      }
      
      .btnPaginationLeft:before, .btnPaginationLeft:after {
        content: "";
        position: absolute;
        width: 35%;
        height: 10%;
        top: 33%;
        right: 55%;
        background: #1598e4;
        z-index: 2;
        transform: translate(50%, 50%) rotate(-45deg);
        -webkit-transition: all 0.2s linear;
        transition: all 0.2s linear;
      }
      
      .btnPaginationLeft:after {
        z-index: 3;
        top: 54%;
        right: 55%;
        transform: translate(50%, 50%) rotate(45deg);
      }
      
      .btnPaginationLeft:hover {
        border: solid 8px #127ab6;
      }
      
      .btnPaginationLeft:hover:after, .btnPaginationLeft:hover:before {
        background: #127ab6;
      }
      
      .btnPaginationLeft:active {
        border: solid 8px #02032c;
      }
      
      .btnPaginationLeft:active:after, .btnPaginationLeft:active:before {
        background: #02032c;
      }
      
      .buttonsPagination {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
      .btnPaginationRight {
        cursor: pointer;
        position: relative;
        display: block;
        margin: 20px;
        width: 50px;
        height: 50px;
        border: solid 6px rgb(58, 173, 240);
        border-radius: 100%;
        z-index: 1;
        -webkit-transition: all 0.2s linear;
        transition: all 0.2s linear;
      }
      
      .btnPaginationRight:before, .btnPaginationRight:after {
        content: "";
        position: absolute;
        width: 35%;
        height: 10%;
        top: 41%;
        left: 55%;
        background: #1598e4;
        z-index: 2;
        transform: translate(-50%, -50%) rotate(45deg);
        -webkit-transition: all 0.2s linear;
        transition: all 0.2s linear;
      }
      
      .btnPaginationRight:after {
        z-index: 3;
        top: 59%;
        left: 55%;
        transform: translate(-50%, -50%) rotate(-45deg);
      }
      
      .btnPaginationRight:hover {
        border: solid 8px #127ab6;
      }
      
      .btnPaginationRight:hover:after, .btnPaginationRight:hover:before {
        background: #127ab6;
      }
      
      .btnPaginationRight:active {
        border: solid 8px #02032c;
      }
      
      .btnPaginationRight:active:after, .btnPaginationRight:active:before {
        background: #02032c;
      }