* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.header {
    padding-left: 5%;
    background-color: #ffffff;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #0000EC;
    padding-right: 5%;
  }
  .header ul li {
    float: left;
  }
  .header ul li a {
    color: #030097;
    display: block;
    padding: 16px;
    text-decoration: none;
    text-transform: uppercase;
  }
  .header ul li a:hover {
    color: #424452;
    text-decoration: underline;
  }
  .header ul li a:active {
    color: rgba(6, 10, 36, 0.56);
    text-decoration: underline;
  }
  .header .menu {
    background-color: #ffffff;
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
  .userNameInfo{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 25px;
    cursor: pointer;
}
.imageHeader{
  width: 10em;
  height: 10em;
}
  .button-header-coins{
    padding: 0 .5rem 0 .7rem;
    margin: .5rem;
    font-size: 1.5em;
    border: none;
    background-color: #f0f0f0;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.userName{
    line-height: 34px;
    margin: .5rem;
    font-weight: 500;
    font-size: 1.3em;
}

.userName:hover{
  text-decoration: underline;
}

.container-header{
  padding: 2rem;
  display: flex;
  margin-top: 5vh;
  width: 100%;
  height: 30vw;
  margin-top: 0px;
  background-image: url(../../assets/header-x1.png);
  background-size: cover;

}

.title-header{
  color: #fff;
  align-self: center;
  font-size: 5em;
  font-weight: bold;
}